.head{
    display: flex;
    height: 50px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #455ec4;
    color: white;
}
.headSide{
    display: flex;
}
.headItem{
    padding: 0 30px
}
.headItemBorder{
    border-right: 1px solid white;
}
.shopHead{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.shopHeadItem{
    margin: 0 15px
}
.searchForm{
    display: flex;
}
.searchField{
    width: 400px;
    margin: 0 5px;
}